.user {
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5vw;
        width: 100%;

        .menu-container {
            display: flex;
            justify-content: center;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu {
        display: flex;
        justify-content: center;
        padding: 5px;
        box-shadow: 2px 2px 2px 2px gray;
        border-radius: 15px;
        gap: 25px;

        .sub-menu {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px;
            gap: 20px;
            cursor: pointer;

            .current {
                &_active {
                    color: cornflowerblue;
                }
            }
        }

        .sub-menu.control {
            display: flex;
            justify-content: center;
        }

        .sub-menu:hover {
            box-shadow: 2px 2px 2px 2px green;
            border-radius: 10px;
        }
    }
}
