.details__container {
    svg {
        cursor: pointer;
    }

    .filter {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        margin: 10px 0;

        &__menu {
            display: flex;
            gap: 25px;
        }

        .select-interval, .select-interval_active {
            display: flex;
            width: 40px;
            overflow: hidden;
            white-space: nowrap;

            &:hover {
                animation-name: filter;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }

        .select-interval_active {
            box-shadow: 3px 3px 3px 3px green;
        }

        @keyframes filter {
            from {
                width: 40px;
            }

            to {
                width: 190px;
            }
        }
    }

    .chart-editor-menu {
        display: flex;
        justify-content: start;
        margin: 10px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__extra-damage {
            display: flex;

            svg {
                transform: scale(1.2);
            }
        }
    }

    .card {
        width: 40%;
    }
}

.select-filter {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
        margin: 0 15px;
        cursor: pointer;
    }
}
