.details-specifical-combat {
    &__container {
        .card {
            width: 90%;
            box-shadow: 10px 10px #3AA6B9;
            margin: 25px;
            background: #135D66;

            .list-group {
                display: flex;
                flex-direction: row;
            }

            .list-group-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                margin: 5px;
                width: 25%;
                background: #135D66;
                color: white;

                .btn-shadow {
                    width: 45px;
                    overflow: hidden;
                    text-align: center;
                    font-size: 13px;
                    white-space: nowrap;

                    &:hover {
                        animation-name: show-more;
                        animation-duration: 0.5s;
                        animation-fill-mode: forwards;
                    }
                }

                @keyframes show-more {
                    from {
                        width: 45px;
                    }

                    to {
                        width: 175px;
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                    width: auto;
                }

                svg {
                    height: 20px;
                }


                &__details {
                    width: 25px;
                    color: gray;

                    :hover {
                        cursor: pointer;
                        transform: scale(1.25);
                    }
                }

                &__damage-done {
                    color: saddlebrown;
                }

                &__heal-done {
                    color: green;
                }

                &__damage-taken {
                    color: darkorange;
                }

                &__energy-recovery {
                    color: yellowgreen;
                }
            }

            .form-check {
                margin: 15px;
            }
        }

        .form-check-input {
            background: white;
        }

        .form-check {
            margin: 20px;
        }

        &_general-details-charts {
            display: flex;
            justify-content: center;

            text {
                color: white;
            }

            .pie-chart-hook {
                display: flex;
                flex-direction: column;
                align-items: center;

                div {
                    font-family: 'Comic Sans MS';
                }

                .title {
                    font-size: 1.5em;
                }
            }
        }

        .player-information {
            display: flex;
        }

        .search-people {
            display: flex;
            flex-direction: column;
            width: 325px;
            margin: 10px 0;
        }

        .select-combat {
            width: 40px;
            overflow: hidden;
            white-space: nowrap;

            &:hover {
                animation-name: select-combat;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }

        @keyframes select-combat {
            from {
                width: 40px;
            }

            to {
                width: 150px;
            }
        }

        .search-icon {
            width: 40px;
            overflow: hidden;

            &:hover {
                animation-name: search;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }

        @keyframes search {
            from {
                width: 40px;
            }

            to {
                width: 110px;
            }
        }
    }

    &__navigate {
        display: flex;
        align-items: center;
        gap: 25px;

        button {
            font-size: 13px;
        }
    }
}
