.general-analysis {
    &__container {
        .card {
            width: 1000px;
            box-shadow: 10px 10px gray;
            margin: 25px;

            .list-group-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px 10px 0 0;

                div {
                    display: flex;
                    align-items: center;
                    width: auto;
                    height: 75px;
                }

                &__date {
                    display: flex;
                    flex-direction: column;
                }

                svg {
                    height: 20px;
                }

                &__damage-done {
                    color: saddlebrown;
                }

                &__heal-done {
                    color: green;
                }

                &__damage-taken {
                    color: darkorange;
                }

                &__energy-recovery {
                    color: yellowgreen;
                }

                &__death-number {
                    color: red;
                }

                &__status {
                    color: dimgray;
                }

                &__duration {
                    color: cornflowerblue;
                }

                &__not-ready {
                    color: lightcoral;
                }


                &__ready {
                    color: green;
                }
            }

            .list-group {
                display: flex;
                flex-direction: row;
            }
        }

        .combats {
            &__container {
                .details {
                    display: flex;
                }
            }
        }

        .information {
            display: flex;
            justify-content: space-around;
        }
    }

    &__navigate {
        display: flex;
        align-items: center;
        gap: 25px;

        .select-logs {
            width: 40px;
            overflow: hidden;
            white-space: nowrap;

            &:hover {
                animation-name: select-logs;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }

        @keyframes select-logs {
            from {
                width: 40px;
            }

            to {
                width: 100px;
            }
        }
    }
}

ul {
    list-style-type: none;
}

.combat-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .status {
        display: flex;
        align-items: center;
        border: 1px solid gray;
        border-radius: 25px;
        margin: 10px;

        .lose {
            color: darkorange;
        }

        .win {
            color: green;
        }
    }

    svg {
        margin: 0 50px;
    }
}