.general-analysis {
    &__container {
        .card {
            box-shadow: 10px 10px #3AA6B9;
            margin: 25px;
            background: #135D66;

            .win, .lose {
                padding: 5px;
                box-shadow: 3px 3px 3px 3px black;
                border-radius: 15px;
                background: #496989;
            }

            .win {
                background: #496989;
            }

            .lose {
                background: #D04848;
            }

            .list-group-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background: #135D66;
                color: white;

                div {
                    display: flex;
                    font-size: 14px;
                }

                &__date {
                    display: flex;
                    flex-direction: column;
                }

                svg {
                    height: 20px;
                }


                &__damage-done, &__heal-done, &__damage-taken, &__energy-recovery, &__death-number,
                &__duration, &__not-ready, &__buffs, &__start, &__finish, &__ready {
                    padding: 5px;
                    box-shadow: 3px 3px 3px 3px black;
                    border-radius: 15px;
                }

                &__ready {
                    background: #7F27FF;
                }
            }

            .list-group {
                display: flex;
                flex-direction: row;
            }
        }

        .combats {
            &__container {
                .details {
                    display: flex;
                }
            }
        }

        .information {
            display: flex;
            justify-content: space-around;
        }
    }

    &__navigate {
        display: flex;
        align-items: center;
        gap: 25px;

        .select-logs {
            width: 40px;
            overflow: hidden;
            white-space: nowrap;

            &:hover {
                animation-name: select-logs;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }

        @keyframes select-logs {
            from {
                width: 40px;
            }

            to {
                width: 100px;
            }
        }
    }
}

ul {
    list-style-type: none;
}

.combat-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .status {
        display: flex;
        align-items: center;
        border: 1px solid #3AA6B9;
        box-shadow: 2px 2px black;
        border-radius: 25px;
        margin: 10px;
    }

    svg {
        margin: 0 50px;
    }
}