.home {
    .should-be-authorize {
        position: fixed;
        display: flex;
        justify-content: center;
        text-align: center;
        left: 35%;
        top: 0;
        width: 500px;
    }
}
