<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
      <add key="encryptedKey" value="DDhsvLXn5PmLpys7wxzp/BoIX9lyxlnQuYicyPK0FiQ=" />
      <add key="encryptedIV" value="74NfXqiTJIwOl+H1G7desg==" />
      <add key="combatParserApiPort" value="https://localhost:5001/"/>
      <add key="userApiPort" value="https://localhost:5003/"/>
      <add key="chatApiPort" value="https://localhost:5007/"/>
      <add key="communicationApiPort" value="https://localhost:5009/"/>
      <add key="identityPort" value="http://localhost:5090/"/>
      <add key="clientId" value="client2"/>
      <add key="scope" value="client2scope"/>
      <add key="redirectUri" value="localhost:45571/callback"/>
      <add key="listener" value="localhost:45571/"/>
      <add key="protocol" value="https"/>
      <add key="grantTypeCode" value="code"/>
      <add key="grantTypeAuthorization" value="authorizationCode"/>
      <add key="grantTypeRefreshToken" value="refreshToken"/>
      <add key="appVersionType" value="Beta"/>
      <add key="appVersion" value="2.0.5"/>
    </appSettings>
</configuration>