<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="combatParserApiPort" value="http://solinx.analysis.api.parser/"/>
		<add key="userApiPort" value="http://solinx.analysis.api.user/"/>
		<add key="communicationApiPort" value="http://solinx.analysis.api.communication/"/>
		<add key="chatApiPort" value="http://solinx.analysis.api.chat/"/>
		<add key="identityPort" value="http://solinx.analysis.identity/"/>
		<add key="clientId" value="client2"/>
		<add key="scope" value="client2scope"/>
		<add key="redirectUri" value="localhost:45571/callback"/>
		<add key="listener" value="localhost:45571/"/>
		<add key="protocol" value="http"/>
		<add key="maxDegreeOfParallelism" value="5"/>
		<add key="appVersionType" value="Beta"/>
		<add key="appVersion" value="1.7.0"/>
	</appSettings>
</configuration>