<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="combatParserApiPort" value="https://localhost:5001/"/>
		<add key="userApiPort" value="http://api.analysis.user.com/"/>
		<add key="communicationApiPort" value="http://api.analysis.communication.com/"/>
		<add key="chatApiPort" value="http://api.analysis.chat.com/"/>
		<add key="identityPort" value="http://identity.analysis.com/"/>
		<add key="clientId" value="client2"/>
		<add key="scope" value="client2scope"/>
		<add key="redirectUri" value="localhost:45571/callback"/>
		<add key="listener" value="localhost:45571/"/>
		<add key="protocol" value="http"/>
		<add key="grantTypeCode" value="code"/>
		<add key="grantTypeAuthorization" value="authorizationCode"/>
		<add key="grantTypeRefreshToken" value="refreshToken"/>
		<add key="appVersionType" value="Beta"/>
		<add key="appVersion" value="2.0.1"/>
	</appSettings>
</configuration>