@page
@model AuthorizationModel

@if (Model.QueryIsValid)
{
    <div class="login">
        <div class="login__title">Login</div>
        <div class="login__container">
            <form class="login__submit" method="post">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp" required />
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" autoComplete="new-password" required />
                </div>
                <div class="actions">
                    <input type="submit" class="btn-border-shadow finish-login" value=Login />
                </div>
            </form>
        </div>
        <input type="button" class="btn-border-shadow finish-registration" onclick="goToRegistration()" value="Registration" />
    </div>
}
else
{
    <div>Request is incorrect.</div>
}

<script>
    function goToRegistration() {
        var queryparams = window.location.search;

        window.location.href = `https://localhost:7064/registration${queryparams}`;
    }
</script>