@page
@model CombatAnalysisIdentity.Pages.NewPasswordModel
@{
    <div class="new-password">
        <div class="new-password__title">Create new password</div>
        <form class="new-password__submit" method="post">
            <input type="text" asp-for="PasswordReset.Token" type="hidden" />
            <div class="mb-3">
                <input class="form-control" asp-for="PasswordReset.Password" placeholder="Password" required />
            </div>
            <div class="mb-3">
                <input class="form-control" asp-for="PasswordReset.ConfirmPassword" placeholder="Confirm password" required />
            </div>
            <div class="actions">
                <input type="submit" class="btn-border-shadow finish-login" value="Restore" />
            </div>
        </form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="new-password__cancel">
            <input type="button" class="btn-border-shadow cancel" onclick="goToHome()" value="Cancel" />
        </div>
    </div>
}

<script>
    function goToHome() {
        const queryString = window.location.search;
        const queryparams = new URLSearchParams(queryString);
        const redirectUri = queryparams.get("redirectUri");
        const protocol = `@Model.Protocol`;

        window.location.href = `${protocol}://${redirectUri}`;
    }
</script>