@page
@model CombatAnalysisIdentity.Pages.RegistrationModel

@if (Model.QueryIsValid)
{
    <div class="registration">
        <div class="registration__title">Registration</div>
        <form class="registration__submit" method="post">
            <div class="registration__container">
                <div class="confidential">
                    <div class="mb-3">
                        <input class="form-control" asp-for="Registration.Email" placeholder="Email" required />
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="Registration.Username" placeholder="Username" required />
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="Registration.Password" placeholder="Password" required />
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="Registration.ConfirmPassword" placeholder="Confirm password" required />
                    </div>
                </div>
                <div class="general">
                    <div class="mb-3">
                        <label for="input-birthday" class="form-label">Birthday</label>
                        <input class="form-control" asp-for="Registration.Birthday" required />
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="Registration.FirstName" placeholder="First name" required />
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="Registration.LastName" placeholder="Last name" required />
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="Registration.PhoneNumber" placeholder="Phone number" required />
                    </div>
                </div>
                <div class="general">
                    <div class="mb-3">
                        <input class="form-control" asp-for="Registration.Country" placeholder="Country" required />
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="Registration.City" placeholder="City" required />
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="Registration.PostalCode" placeholder="Post code" required />
                    </div>
                </div>
            </div>
            <div class="actions">
                <input type="submit" class="btn-border-shadow finish-registration" value="Sign up" />
            </div>
        </form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="registration__cancel">
            <input type="button" class="btn-border-shadow" onclick="goToLogin()" value="Login" />
            <input type="button" class="btn-border-shadow cancel" onclick="goToHome()" value="Cancel" />
        </div>
    </div>
}
else
{
    <div class="request-incorrect">
        <div>Request is incorrect. Pls try one more time</div>
    </div>
}

<script>
    function goToLogin() {
        const appUrl = `@Model.AppUrl`;
        const queryparams = window.location.search;

        window.location.href = `${appUrl}authorization${queryparams}`;
    }

    function goToHome() {
        const queryString = window.location.search;
        const queryparams = new URLSearchParams(queryString);
        const redirectUri = queryparams.get("redirectUri");
        const protocol = `@Model.Protocol`;

        window.location.href = `${protocol}://${redirectUri}`;
    }
</script>