@page
@model CombatAnalysisIdentity.Pages.VerificationModel
@{
    <div class="verification">
        @if (ModelState.ErrorCount == 0)
        {
            <div>Verification in progres...</div>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
}
