.communication {
    &__menu {
        position: fixed;
        top: 20%;
        margin: 0 0 0 -90px;
        padding: 10px;
        box-shadow: 2px 2px 2px 2px #3AA6B9;
        border-radius: 15px;
        width: 270px;
        font-size: 13px;

        .extended-menu-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 10px;

            .create {
                color: green;
            }
        }

        .menu-item {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            padding: 0 5px;
            width: 175px;
            cursor: pointer;

            .title {
                margin: 10px;
            }

            &_disabled {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                padding: 0 5px;
                width: 175px;
                cursor: default;
                opacity: 0.5;

                .title {
                    margin: 10px;
                }
            }
        }

        .menu-item:hover {
            border: 2px solid #4793AF;
            border-radius: 10px;
        }

        .menu-item.sub-menu:hover {
            box-shadow: 2px 2px 2px 2px #4D4C7D;
            border-radius: 10px;
        }

        .sub-menu {
            margin: 0 30px;

            &_disabled {
                opacity: 0.5;
            }
        }
    }

    &__recomendations {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 10px;
        right: 2%;
        top: 20%;
        padding: 10px;
        box-shadow: 2px 2px 2px 2px #3AA6B9;
        border-radius: 15px;
        width: 270px;
        font-size: 13px;
    }

    &__content {
        margin-left: 200px;

        .new-posts {
            position: fixed;
            display: flex;
            justify-content: center;
            top: 10px;
            margin-left: -200px;
            width: 100%;

            &__content {
                padding: 5px 10px;
                cursor: pointer;
                border: 2px solid white;
                box-shadow: 1px 1px 1px 1px white;
                border-radius: 10px;

                &:hover {
                    border: 2px solid #4793AF;
                    box-shadow: 1px 1px 1px 1px #4793AF;
                }
            }
        }
    }
}
