.communication {
    display: flex;
    flex-direction: row;

    &__menu {
        display: flex;
        flex-direction: column;
        margin: 10px 0 0 -75px;
        width: 20%;

        .menu-item {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            padding: 0 5px;
            width: 200px;

            div {
                margin: 10px;
            }

            &_disabled div {
                margin: 10px;
                opacity: 0.5;
            }
        }

        .menu-item:hover {
            box-shadow: 5px 5px 5px 5px gray;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &__action {
        width: 90%;
    }
}
