.communication {
    display: flex;
    gap: 25px;

    &__menu {
        position: fixed;
        top: 35%;
        margin: 0 0 0 -90px;
        padding: 20px;
        box-shadow: 3px 3px 3px 3px gray;
        border-radius: 15px;
        width: 275px;

        .menu-item {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            padding: 0 5px;
            width: 200px;
            cursor: pointer;

            .title {
                margin: 10px;
            }

            &_disabled div {
                margin: 10px;
                opacity: 0.5;
            }
        }

        .menu-item:hover {
            border: 2px solid green;
            border-radius: 10px;
        }

        .menu-item.selected-community:hover {
            cursor: default;
            box-shadow: 2px 2px 2px 2px green;
            border-radius: 10px;
        }

        .selected-community {
            margin: 0 30px;
        }
    }

    &__content {
        flex-grow: 1;
        margin: 0 225px;
    }
}
