.create-community {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    width: 700px;
    height: 500px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px gray;
    background: white;

    &__content {
        display: flex;
        flex-direction: row;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 25%;
        margin: 10px 15px;
        border-radius: 15px;

        .menu-item {
            display: flex;
            align-items: center;
            opacity: 0.5;
            margin: 5px;
            cursor: pointer;
            padding: 10px;
            border-radius: 10px;

            svg {
                margin: 0 10px;
            }

            &__passed {
                color: green;
            }
        }

        .menu-item.passed {
            opacity: 1;
        }

        .menu-item:hover {
            border: 2px solid blue;
        }

        .btn {
            position: relative;
            margin: 10px;
            top: 100px;
        }
    }

    ul {
        padding: 0;
    }

    &__items {
        flex-grow: 1;
        margin: 5px;

        .form-group {
            margin: 10px;
            width: 300px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .item-result {
            display: flex;
            justify-content: end;
            gap: 225px;

            svg {
                margin: 10px;
                transform: scale(1.5);
                cursor: pointer;
            }

            svg:hover {
                transform: scale(1.75);
                color: green;
            }
        }
    }

    .rules {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__content {
            margin: 10px;
        }
    }

    .finish-create {
        display: flex;
        justify-content: center;
        gap: 100px;
    }
}
