$mobile-max-width: 425px;

.create-communication-object {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    width: 35vw;
    right: 35vw;
    padding: 15px;
    top: 10vh;
    margin-bottom: 50px;
    font-size: 0.9em;

    .chat-name-required, .chat-description-required, .community-name-required, .community-description-required {
        font-size: 0.9em;
        color: red;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 60%;

        .form-group {
            margin: 10px;
            width: 100%;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 15px;
        padding: 0;
        width: 100%;

        .menu-item {
            display: flex;
            align-items: center;
            border-radius: 10px;

            svg {
                padding: 5px;
                border-radius: 20px;
                box-shadow: 1px 1px 1px 1px white;
                background: #0c192c;
            }

            .move-to-next-step {
                background: green;
                opacity: 1;
            }

            &__not-passed {
                opacity: 0.5;
            }

            &__passed {
                color: green;
                opacity: 1;
            }

            &__pased:hover {
                transform: scale(1.1);
                box-shadow: 2px 2px 2px 2px #1679AB;
            }

            .active {
                opacity: 1;
                box-shadow: 1px 1px 1px 1px red;
            }
        }

        .menu-item.passed {
            opacity: 1;
        }

        .btn {
            position: relative;
            margin: 10px;
            top: 100px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 5px;

        .title {
            font-weight: bold;
        }

        .item-result {
            display: flex;
            justify-content: flex-end;
            gap: 225px;

            svg {
                margin: 10px;
                transform: scale(1.5);
                cursor: pointer;
            }

            svg:hover {
                transform: scale(1.75);
                color: green;
            }
        }

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0;
        }
    }

    .rules {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 0;
        text-align: center;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__content {
            display: flex;
            justify-content: space-around;
            margin: 5px 0;
            box-shadow: 1px 1px gray;
            border-radius: 20px;
            padding: 5px;
            width: 100%;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        gap: 50px;

        .create {
            box-shadow: 2px 2px 2px 2px green;
        }

        .can-not-finish {
            box-shadow: 2px 2px 2px 2px gray;
            cursor: default;
        }
    }
}

@media (max-width: $mobile-max-width) {
    .create-community {
        border-radius: 20px;
        width: 95%;
        right: 3vw;
        box-shadow: none !important;
        border: 2px solid gray;
    }
}