.friends {
    .tabs {
        display: flex;
        flex-direction: column;

        &__nav {
            display: flex;
            justify-content: center;
            margin: 5px 10px;
        }

        &__nav div {
            padding: 10px;
            width: 100px;
            margin-left: 10px;
            border: 3px solid gray;
            border-radius: 10px;
        }

        &__nav div:hover {
            cursor: pointer;
        }

        .active {
            border: 3px solid blue;
        }
    }

    .friend {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__remove {
            margin: 0 15px;

            svg {
                padding: 5px;
                border-radius: 20px;
            }

            svg:hover {
                transform: scale(1.25);
                cursor: pointer;
                border: 3px solid yellow;
                box-shadow: 3px 3px 3px gray;
            }
        }
    }
}
