.create-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;

    textarea {
        margin-top: 15px;
        margin-left: 30px;
        width: 790px;
    }

    &__tool {
        display: flex;
        width: 75%;

        .open-create-post, .finish-create-post {
            gap: 20px;

            button {
                margin: 10px;
                width: 100px;
            }
        }

        .open-create-post.container {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
    }
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    &__card {
        display: flex;
        flex-direction: column;
        width: 500px;
        gap: 15px;
        padding: 10px;
        box-shadow: 4px 4px 4px 4px #58A399;
        border-radius: 20px;
        background: #0c192c;
        border: 0px solid gray !important;

        li {
            background: #0c192c;
            z-index: 10000;
            color: white;
        }
    }

    &__title {
        display: flex;

        .content {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .special-user__another {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 5px;
                border-radius: 10px;
                box-shadow: 1px 1px 1px 1px white;
            }
        }

        .when {
            font-size: 10px;
        }

        .post-remove:hover {
            cursor: pointer;
        }

        .post-remove.container {
            display: flex;
            justify-content: flex-end;
            margin: 0 -15px;
        }
    }

    &__content {
        cursor: default;
        min-height: 70px;
    }

    &__reactions {
        display: flex;
        justify-content: center;
        width: 100%;

        .container {
            display: flex;
            justify-content: center;
            box-shadow: 3px 3px 3px 3px green;
            border-radius: 10px;
            margin: 5px;
            padding: 5px;
            gap: 10px;
            width: 200px;
            font-size: 14px;

            .item {
                display: flex;

                &__comment_active {
                    color: yellow;
                }
            }

            svg {
                margin: 0 10px;
                padding: 5px;
                border-radius: 25px;
                cursor: pointer;
            }

            svg:hover {
                transform: scale(1.1);
            }
        }
    }
}

.community-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;

    svg {
        opacity: 0.4;
    }

    &_active {
        svg {
            opacity: 1;
        }
    }
}

.community-post.type {
    font-size: 8px;
}

.community-post.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.svg-inline--fa.fa-message.post__reaction_active {
    box-shadow: 2px 2px 2px 2px gray;
    color: green;
    transform: scale(1.1);
}

.add-new-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 5px -15px;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;

        .actions {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .open-add-comment, .add-comment, .hide {
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 12px;
        cursor: pointer;
    }

    .open-add-comment {
        box-shadow: 2px 2px 2px 2px yellow;
    }

    .add-comment {
        box-shadow: 2px 2px 2px 2px #5BBCFF;
    }

     .hide {
        box-shadow: 2px 2px 2px 2px white;
    }
}