.post-comments {
    display: flex;
    flex-direction: column;

    .card {
        width: 475px;
        margin: 5px 0 5px 75px;
    }

    &__title.list-group-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__menu {
        svg {
            margin: 5px 10px;
        }

        svg:hover {
            cursor: pointer;
            transform: scale(1.25);
        }
    }

    &__edit.list-group-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}
