.create-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    width: auto;

    &__tool, &__create-tool {
        display: flex;
        align-items: center;

        button {
            margin: 10px;
            width: 100px;
        }
        
        svg {
            margin: 0 10px;
            cursor: pointer;
        }

        svg:hover {
            transform: scale(1.1);
        }
    }
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__card {
        width: 750px;
        margin: 5px;
    }

    &__title.list-group-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__title-username, &__title-details {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
            margin: 0 10px;
        }

        svg:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &__title-username {
        .special-user {
            &__another {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
        }
    }

    &__reaction.list-group-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    &__reaction.item .count {
        font-size: 11px;
    }

    &__reaction {
        svg {
            margin: 0 10px;
            padding: 5px;
            border-radius: 25px;
            cursor: pointer;
        }

        svg:hover {
            transform: scale(1.25);
        }
    }

    &__reaction_active {
        svg {
            margin: 0 10px;
            padding: 5px;
            border-radius: 25px;
            cursor: pointer;
        }

        svg:hover {
            transform: scale(1.1);
        }
    }
}


.svg-inline--fa.fa-message.post__reaction_active {
    box-shadow: 2px 2px 2px 2px gray;
    color: green;
    transform: scale(1.1);
}

.add-new-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 5px -15px;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;

        .actions {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}