$mobile-max-width: 425px;

.post-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    gap: 15px;
    width: 90%;

    &__card {
        gap: 10px;
        width: 100%;
        padding: 10px;
        box-shadow: 2px 2px 2px 2px white;
        border-radius: 20px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;

        .user {
            font-size: 0.6em;
        }
    }

    &__menu {
        transform: scale(0.8);

        svg {
            box-shadow: 3px 3px red;
            padding: 10px;
            border-radius: 20px;
            font-size: 12px;
            cursor: pointer;
        }

        svg:hover {
            transform: scale(1.1);
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 15px;

        .actions {
            display: flex;
            justify-content: center;
            margin: 5px 0;
            gap: 10px;

            .save, .cancel {
                padding: 5px 10px;
                border-radius: 10px;
                font-size: 14px;
                cursor: pointer;
                font-size: 12px;
            }

            .save {
                box-shadow: 2px 2px 2px 2px #1679AB;
            }

            .cancel {
                box-shadow: 2px 2px 2px 2px gray;
            }
        }

        .comment-edit {
            &_active {
                color: green;
            }
        }

        svg {
            cursor: pointer;
        }

        svg:hover {
            transform: scale(1.1);
        }

        button {
            margin: 0 10px;
            font-size: 12px;
        }
    }
}

@media (max-width: $mobile-max-width) {
    .post-comments {
        &__card {
            padding: 10px;
            box-shadow: none;
            border: 1px solid gray;
        }
    }
}