.create-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;

    textarea {
        margin-top: 15px;
        margin-left: 30px;
        width: 790px;
    }

    &__tool {
        display: flex;
        width: 75%;

        .open-create-post, .finish-create-post {
            gap: 20px;

            button {
                margin: 10px;
                width: 100px;
            }
        }

        .open-create-post.container {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
    }
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__card {
        width: 750px;
        margin: 5px;

        li {
            background: #3C5B6F;
            z-index: 10000;
            color: white;
        }
    }

    &__title.list-group-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__title.content {
        width: 100%;
    }

    &__title-username, &__title-details {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
            margin: 0 10px;
        }

        svg:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &__title-username {
        .special-user {
            &__another {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
        }
    }

    .when {
        font-size: 10px;
    }

    .post-remove:hover {
        cursor: pointer;
    }

    .post-remove.container {
        display: flex;
        justify-content: flex-end;
        margin: 0 -15px;
    }

    &__reaction.list-group-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    &__reaction.item .count {
        font-size: 11px;
    }

    &__reaction {
        svg {
            margin: 0 10px;
            padding: 5px;
            border-radius: 25px;
            cursor: pointer;
        }

        svg:hover {
            transform: scale(1.25);
        }
    }

    &__reaction_active {
        svg {
            margin: 0 10px;
            padding: 5px;
            border-radius: 25px;
            cursor: pointer;
        }

        svg:hover {
            transform: scale(1.1);
        }
    }
}

.community-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;

    svg {
        opacity: 0.4;
    }

    &_active {
        svg {
            opacity: 1;
        }
    }
}

.community-post.type {
    font-size: 8px;
}

.community-post.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.svg-inline--fa.fa-message.post__reaction_active {
    box-shadow: 2px 2px 2px 2px gray;
    color: green;
    transform: scale(1.1);
}

.add-new-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 5px -15px;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;

        .actions {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}