.request-to-connect {
    display: flex;
    flex-direction: row;
    margin: 10px;

    &__answer {
        display: flex;
        flex-direction: row;
        margin: 0 15px;

        svg {
            margin: 0 10px;
            padding: 5px;
        }

        svg:hover {
            cursor: pointer;
            transform: scale(1.25);
            border-radius: 15px;
        }

        .accept svg:hover {
            box-shadow: 3px 3px 3px 3px green;
        }

        .reject svg:hover {
            box-shadow: 3px 3px 3px 3px orange;
        }
    }
}

.request-notifications {
    margin: 10px;

    div {
        padding: 10px;
        border-radius: 20px;
    }

    &__accept {
        border: 3px solid green;
    }

    &__reject {
        border: 3px solid yellow;
    }
}

.requests, .my-requests {
    &__title {
        display: flex;
        align-items: center;

        svg {
            margin: 0 15px;
        }

        svg:hover {
            cursor: pointer;
            transform: scale(1.25);
        }
    }

    &__empty {
        opacity: 0.5;
    }
}
