.special-user {
    &__me, &__another {
        .details {
            opacity: 0.4;

            &_active {
                opacity: 1;
            }
        }

        .username {
            width: 100px;
            overflow-x: hidden;
            cursor: pointer;
        }
    }
}
