.selected-combat {
    &__container {
        .card {
            width: 100%;
            box-shadow: 10px 10px #3AA6B9;
            margin: 25px 0;
            background: #135D66;

            .list-group {
                display: flex;
                flex-direction: row;
            }

            .list-group-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                margin: 5px;
                background: #135D66;
                color: white;

                .btn-shadow {
                    width: 35px;
                    overflow: hidden;
                    text-align: center;
                    font-size: 13px;
                    white-space: nowrap;

                    &:hover {
                        animation-name: show-more;
                        animation-duration: 0.5s;
                        animation-fill-mode: forwards;
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                    width: auto;
                }

                svg {
                    height: 20px;
                }

                &__details {
                    width: 25px;
                    color: gray;

                    :hover {
                        cursor: pointer;
                        transform: scale(1.25);
                    }
                }

                &__player-statistic-item {
                    padding: 5px;
                    box-shadow: 3px 3px 3px 3px black;
                    border-radius: 15px;
                }
            }

            .form-check {
                margin: 15px;
            }
        }

        .form-check-input {
            background: white;
        }

        .form-check {
            margin: 20px;
        }

        &_general-details-charts {
            display: flex;
            justify-content: center;

            text {
                color: white;
            }

            .pie-chart-hook {
                display: flex;
                flex-direction: column;
                align-items: center;

                div {
                    font-family: 'Comic Sans MS';
                }

                .title {
                    font-size: 1.3em;
                }
            }
        }

        .details {
            &__filter {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
            }

            &__item {
                display: flex;
                justify-content: center;
                margin: 10px 0;
                gap: 75px;
                flex-wrap: wrap;

                .player-score {
                    margin: 0 10px;
                    padding: 5px 10px;
                    border-radius: 25px;
                    box-shadow: 2px 2px green;
                }
            }
        }

        .player-info {
            &__stats {
                margin: 10px 0;
                cursor: default;

                .title {
                    color: #6DC5D1;
                    font-weight: bold;
                    margin: 10px 0;
                }

                .category {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }

                .content {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                }
            }
        }

        .search-people {
            display: flex;
            flex-direction: column;
            width: 325px;
            margin: 10px 0;
        }

        .select-combat {
            width: 40px;
            overflow: hidden;
            white-space: nowrap;

            &:hover {
                animation-name: select-combat;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }

        @keyframes select-combat {
            from {
                width: 40px;
            }

            to {
                width: 160px;
            }
        }

        .search-icon {
            width: 40px;
            overflow: hidden;

            &:hover {
                animation-name: search;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }

        @keyframes search {
            from {
                width: 40px;
            }

            to {
                width: 110px;
            }
        }

        .no-deaths {
            display: flex;
            align-items: center;

            span {
                padding: 5px 10px;
                border-radius: 20px;
                box-shadow: 2px 2px 2px 2px orange;
            }
        }
    }

    &__navigate {
        display: flex;
        align-items: center;
        gap: 25px;

        .boss {
            display: flex;
            gap: 15px;
            align-items: center;
            font-size: 0.9em;

            .combat-number {
                border-radius: 20px;
                padding: 5px 15px;
                cursor: default;
            }

            .combat-number.win {
                box-shadow: 2px 2px 2px 2px green;
            }

            .combat-number.lose {
                box-shadow: 2px 2px 2px 2px red;
            }
        }

        button {
            font-size: 13px;
        }
    }
}