.achievements {
    display: flex;
    gap: 50px;
}

.achievements-category,
.achievements-statistics-category,
.achievements {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.achievements-category,
.achievements-statistics-category,
.achievements {
    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .name {
            width: auto;
        }

        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .completed {
            box-shadow: 2px 2px green;
        }

        .not-completed {
            box-shadow: 2px 2px gray;
            opacity: 0.7;
        }
    }
}

.selected-achievements {
    &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .selected-achievement {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 20px;

            .description {
                font-size: 0.8em;
                opacity: 0.7;
            }
        }

        .when {
            margin-left: 50px;
            font-size: 0.8em;
            opacity: 0.7;
        }
    }
}

.achievements-category,
.achievements-statistics-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;

    &__name {
        display: flex;

        .selected {
            box-shadow: 2px 2px green;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.achievements-statistics-category {
    .statistics {
        display: flex;
        flex-direction: row;
    }
}