.account-characters,
.servers,
.server-characters {
    margin-left: 50px;
}

.account-characters {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .accounts {

        &__account,
        .account {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .accounts,
    .servers,
    .server-characters {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .servers,
    .server-characters {
        margin-top: 10px;
    }
}