   [req]
   distinguished_name = req_distinguished_name
   req_extensions = req_ext
   x509_extensions = v3_req
   prompt = no

   [req_distinguished_name]
   C = US
   ST = State
   L = City
   O = Organization
   OU = Organizational Unit
   CN = encounters.analysis.com

   [req_ext]
   subjectAltName = @alt_names

   [v3_req]
   subjectAltName = @alt_names

   [alt_names]
   DNS.1 = encounters.analysis.com