   [req]
   distinguished_name = req_distinguished_name
   req_extensions = req_ext
   x509_extensions = v3_req
   prompt = no

   [req_distinguished_name]
   C = US
   ST = State
   L = City
   O = Organization
   OU = Organizational Unit
   CN = *.analysis.com

   [req_ext]
   subjectAltName = @alt_names

   [v3_req]
   subjectAltName = @alt_names

   [alt_names]
   DNS.1 = encounters.analysis.com
   DNS.2 = identity.analysis.com
   DNS.3 = hubs.analysis.com
   DNS.4 = api.user.analysis.com
   DNS.5 = api.communication.analysis.com
   DNS.6 = api.chat.analysis.com
   DNS.7 = api.parser.analysis.com
   DNS.8 = health.analysis.com