.search {
    display: flex;
    flex-direction: row;

    &__search-people, &__search-groups {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin: 15px;
        width: 375px;

        &_name {
            margin: 5px;
            width: 200px;
        }

        svg {
            margin: 0 15px;
            cursor: pointer;
        }
    }
}

.chats {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin: 20px 0;

    .select-chat {
        width: 100%;
        margin: 25px;
        font-size: 20px;
        text-align: center;
    }

    &__my-chats {
        ul {
            padding: 0;
        }

        &__group-chats, &__personal-chats {
            .last-message {
                margin: 5px 0;
                font-style: italic;
            }
        }

        li {
            cursor: pointer;
            margin: 10px 5px;
            padding: 10px;
            box-shadow: 3px 3px 3px 3px gray;
            border-radius: 10px;
        }
    }

    &__messages {
        width: 50%;
        margin: 0px 25px;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__companion, &__message-panel {
                margin: 0 20px;
            }

            &__message-panel {
                display: none;

                &-active {
                    display: flex;

                    svg {
                        margin: 0 15px;
                        cursor: pointer;
                    }
                }
            }
        }

        .group-chat-messages, .personal-chat-messages {
            height: 500px;
            margin: 12px 0px;
            box-shadow: 3px 3px 3px 3px gray;
            border-radius: 25px;

            li {
                margin: 5px;

                div {
                    padding: 5px 20px;
                }
            }
        }

        &_input-message {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            svg {
                margin: 0 10px;
                width: 25px;
                height: 25px;
            }
        }
    }
}
