.chats {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 15px;

    &__selected-chat {
        display: flex;
        gap: 20px;
        width: 100%;

        .messages-container {
            flex-grow: 2;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                box-shadow: 2px 2px 2px 2px white;
                border-radius: 10px;
                padding: 10px 25px;
                cursor: default;

                &__content {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                &__call-started {
                    position: absolute;
                    right: 10%;
                    font-size: 10px;
                }

                &__menu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 75px;

                    .call_active {
                        border: 1px solid blue;
                        padding: 10px;
                        border-radius: 20px;
                        box-shadow: 2px 2px 2px 2px blue;
                    }

                    .call-minimazed {
                        padding: 10px;
                        opacity: 0.2;
                        cursor: default;
                    }
                }

                .name {
                    margin: 0 20px;
                    font-weight: bold;
                    background: linear-gradient(blue, 1%, #57A6A1);
                    color: white;
                    padding: 5px 10px;
                    border-radius: 10px;
                }
            }

            .empty-message {
                display: none;

                &_show {
                    display: block;
                    opacity: 0.5;
                }
            }
        }
    }

    .select-chat {
        margin: 25px;
        font-size: 20px;
        text-align: center;
    }

    &__my-chats {
        width: 30%;

        &_title {
            display: flex;
            align-items: center;
            justify-content: space-around;
            min-width: 200px;

            .main-content {
                display: flex;
                flex-direction: row;
                align-items: center;

                div {
                    margin-right: 15px;
                }
            }

            svg {
                cursor: pointer;
            }

            .create {
                width: 20px;
                height: 20px;
            }
        }

        ul {
            width: 90%;
        }

        .group-chats, .personal-chats {
            display: none;

            &__not-found {
                opacity: 0.4;
                text-align: center;
            }

            &_active {
                .selected {
                    box-shadow: 3px 3px 3px 3px #474F7A;
                }

                .last-message {
                    max-height: 20px;
                    max-width: 90%;
                    overflow: hidden;
                    word-wrap: break-word;
                    font-size: 12px;
                }

                .chat-card {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .chat-tooltip {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .unread-message-count {
                            padding: 5px;
                            box-shadow: 2px 2px 2px 2px #3AA6B9;
                            border-radius: 25px;
                            font-size: 10px;
                            width: 25px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        li {
            cursor: pointer;
            margin: 10px;
            padding: 10px;
            box-shadow: 4px 4px 4px 4px #3AA6B9;
            overflow-x: hidden;
            margin-left: 10px;
            border-radius: 10px;

            .username {
                font-weight: bold;
            }
        }
    }
}

.chats-empty {
    width: 300px;
    opacity: 0.5;
}