.chats {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 15px;
    width: 100%;

    &__selected-chat {
        display: flex;
        gap: 25px;
        flex-grow: 2;

        .messages-container {
            flex-grow: 2;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                &__companion {
                    margin: 0 20px;
                }
            }
        }
    }

    .select-chat {
        margin: 25px;
        font-size: 20px;
        text-align: center;
    }

    &__my-chats {
        &_title {
            display: flex;
            align-items: center;
            justify-content: space-around;
            min-width: 200px;

            .main-content {
                display: flex;
                flex-direction: row;
                align-items: center;

                div {
                    margin-right: 15px;
                }
            }

            svg {
                cursor: pointer;
            }

            .create {
                width: 20px;
                height: 20px;
            }
        }

        ul {
            padding: 0;
        }

        .group-chats, .personal-chats {
            display: none;
            overflow: hidden;

            &__active {
                display: flex;

                .last-message {
                    margin: 10px;
                    max-height: 20px;
                    max-width: 140px;
                    font-style: italic;
                    overflow: hidden;
                    word-wrap: break-word;
                    font-size: 12px;
                }

                .selected {
                    border: 3px solid blue;
                }
            }
        }

        li {
            cursor: pointer;
            margin: 5px;
            padding: 10px;
            box-shadow: 5px 5px gray;

            .username {
                font-weight: bold;
            }

            div, strong {
                position: relative;
                z-index: -1;
            }
        }
    }
}

.chat-messages, .group-chat-messages {
    height: 500px;
    margin: 12px 0px;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 25px;
    padding: 7px;
    overflow-y: scroll;

    li {
        margin: 5px;

        div {
            padding: 5px 20px;
        }
    }

    &__right {
        flex-direction: row;
        justify-content: right;
        align-items: center;

        .message {
            border: 2px solid orange;
            background: #f0f8ff;
            min-width: 15%;
        }

        .edit-message {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    &__left {
        flex-direction: column;
        align-items: start;

        .message {
            border: 2px solid gray;
            min-width: 25%;
        }
    }

    &__right, &__left {
        display: flex;

        svg {
            margin: 0 10px;
        }

        :hover {
            cursor: pointer;
        }

        .message {
            border-radius: 25px;
            text-align: center;
            margin: 5px;
            overflow-x: hidden;
            word-wrap: break-word;
            max-width: 75%;
            text-align: left;
        }
    }
}

.chats-empty {
    width: 300px;
    opacity: 0.5;
}