body {
  color: white;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
}

main {
  width: 100vw;
  padding: 10px;
}

#root {
  position: fixed;
  top: 0;
  background: #0c192c;
  height: 100%;
  width: 100%;
  z-index: -1;
}

header {
  display: flex;
  justify-content: center;
  color: white;
  margin: 30px;
  font-size: 22px;
  font-family: "Comic Sans MS";
}

input, label {
  color: white;
}

.request-incorrect {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  font-size: 18px;
  animation: incorrect 3s linear infinite;
}

@keyframes incorrect {
  0% {
    color: white;
  }
  50% {
    color: brown;
  }
  100% {
    color: white;
  }
}
.login, .registration, .restore, .new-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 98vw;
}
.login input[type=email], .login input[type=text], .login input[type=password], .login input[type=number], .login input[type=submit], .login input[type=date], .login textarea, .registration input[type=email], .registration input[type=text], .registration input[type=password], .registration input[type=number], .registration input[type=submit], .registration input[type=date], .registration textarea, .restore input[type=email], .restore input[type=text], .restore input[type=password], .restore input[type=number], .restore input[type=submit], .restore input[type=date], .restore textarea, .new-password input[type=email], .new-password input[type=text], .new-password input[type=password], .new-password input[type=number], .new-password input[type=submit], .new-password input[type=date], .new-password textarea {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.login input[type=email], .login input[type=password], .login input[type=text], .login input[type=number], .login input[type=date], .login textarea, .registration input[type=email], .registration input[type=password], .registration input[type=text], .registration input[type=number], .registration input[type=date], .registration textarea, .restore input[type=email], .restore input[type=password], .restore input[type=text], .restore input[type=number], .restore input[type=date], .restore textarea, .new-password input[type=email], .new-password input[type=password], .new-password input[type=text], .new-password input[type=number], .new-password input[type=date], .new-password textarea {
  box-shadow: 4px 4px #009FBD;
  border: 0 solid white;
  background: linear-gradient(90deg, rgb(44, 41, 134) 11%, rgb(70, 168, 215) 88%);
}
.login textarea:focus, .registration textarea:focus, .restore textarea:focus, .new-password textarea:focus {
  color: white;
}
.login input::placeholder, .login textarea::placeholder, .registration input::placeholder, .registration textarea::placeholder, .restore input::placeholder, .restore textarea::placeholder, .new-password input::placeholder, .new-password textarea::placeholder {
  color: white;
  font-family: "Comic Sans MS";
}
.login .help, .registration .help, .restore .help, .new-password .help {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  color: yellow;
  cursor: pointer;
}
.login .actions, .registration .actions, .restore .actions, .new-password .actions {
  display: flex;
  justify-content: center;
}
.login .actions input, .registration .actions input, .restore .actions input, .new-password .actions input {
  width: 100px;
}
.login__cancel, .registration__cancel, .restore__cancel, .new-password__cancel {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 250px;
}
.login__cancel .cancel, .registration__cancel .cancel, .restore__cancel .cancel, .new-password__cancel .cancel {
  font-size: 11px;
  box-shadow: 2px 2px 2px 2px gray;
}

.restore__cancel, .new-password__cancel {
  display: flex;
  justify-content: center;
  width: 250px;
}
.restore__cancel .cancel, .new-password__cancel .cancel {
  font-size: 11px;
  box-shadow: 2px 2px 2px 2px gray;
}

.login__title {
  font-size: 18px;
  font-weight: bold;
}
.login__container {
  display: flex;
  justify-content: start;
  gap: 50px;
}
.login__submit {
  width: 300px;
}
.login__submit__error-message {
  margin: 15px;
  padding: 10px;
  border-radius: 15px;
  background: yellow;
}
.login__submit .remember {
  margin: 15px 0;
}
.login__submit .finish-login {
  box-shadow: 2px 2px 2px 2px yellow;
}
.login__submit .finish-login:hover {
  box-shadow: 2px 2px 2px 2px green;
  background: radial-gradient(circle, rgb(41, 32, 170) 0%, rgb(27, 251, 237) 100%);
}
.login .actions {
  display: flex;
  justify-content: center;
}

.registration__title {
  font-size: 18px;
  font-weight: bold;
}
.registration__submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.registration__submit .confidential, .registration__submit .general {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}
.registration__submit__error-message {
  margin: 15px;
  padding: 10px;
  border-radius: 15px;
  background: yellow;
}
.registration__submit .actions {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 15px 0;
}
.registration__submit .finish-registration {
  box-shadow: 2px 2px 2px 2px yellow;
}
.registration__submit .finish-registration:hover {
  box-shadow: 2px 2px 2px 2px green;
  background: radial-gradient(circle, rgb(41, 32, 170) 0%, rgb(27, 251, 237) 100%);
}
.registration__container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.btn-border-shadow {
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #5BBCFF;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
}

/*# sourceMappingURL=site.css.map */
