.login {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
        margin-left: 50px;
        font-size: 18px;
        font-weight: bold;
    }

    &__container {
        display: flex;
        justify-content: start;
        gap: 50px;
    }

    &__submit {
        width: 300px;

        &__error-message {
            margin: 15px;
            padding: 10px;
            border-radius: 15px;
            background: yellow;
        }

        .remember {
            margin: 15px 0;
        }

        .finish-login {
            box-shadow: 2px 2px 2px 2px green;
        }
    }
}
