.login {
    width: 300px;

    &__error-message {
        margin: 15px;
        padding: 10px;
        border-radius: 15px;
        background: yellow;
    }

    .remember {
        margin: 15px 0;
    }
}
