.registration {
    width: 300px;

    &__error-message {
        margin: 15px;
        padding: 10px;
        border-radius: 15px;
        background: yellow;
    }

    .actions {
        display: flex;
        gap: 25px;
        margin: 15px 0;
    }
}