.community-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25px;
    top: 15%;
    left: 15%;
    width: 700px;
    height: 500px;
    padding: 10px;
    z-index: 2;

    &__content {
        display: flex;
        flex-direction: row;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 25%;
        margin: 10px 15px;
        border-radius: 15px;

        .menu-item {
            display: flex;
            align-items: center;
            margin: 5px;
            cursor: pointer;
            padding: 10px;
            border-radius: 10px;

            svg {
                margin: 0 10px;
            }

            &__passed {
                color: green;
            }
        }

        .menu-item:hover {
            border: 2px solid blue;
        }

        .btn {
            position: relative;
            margin: 10px;
            top: 50px;
        }
    }

    ul {
        padding: 0;
    }

    .close {
        display: flex;
        align-items: start;
        padding: 5px;
        margin-top: -20px;

        svg {
            &:hover {
                cursor: pointer;
                transform: scale(1.25);
            }
        }
    }

    &__items {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;



        .form-group {
            margin: 10px;
            width: 300px;
        }

        .members {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            &__title {
                display: flex;
                flex-direction: column;

                .tool, .tool_active {
                    display: flex;
                    align-items: center;
                    gap: 25px;
                    margin: 0 50px;

                    .remove_active {
                        color: saddlebrown;
                    }

                    svg {
                        cursor: pointer;
                    }
                }

                .actions {
                    display: flex;
                    flex-direction: row;
                }

                .tool_active {
                    svg {
                        color: saddlebrown;
                    }
                }

                .notification {
                    font-size: 12px;
                    text-align: center;
                    margin: 5px;
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .member {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 300px;

                    svg {
                        margin: 0 25px;
                        cursor: pointer;
                    }
                }

                .remove-people {
                    position: fixed;
                    z-index: 5;
                    right: 35%;
                }
            }
        }

        .alert-success, .alert-warning {
            display: none;
        }

        .alert-success.active, .alert-warning.active {
            display: flex;
            justify-content: center;
            font-size: 13px;
            padding: 5px;
            width: 250px;
        }

        .actions {
            display: flex;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .item-result {
            display: flex;
            gap: 15px;
        }
    }

    .chat-rules {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__rules {
            margin: 10px;
        }
    }

    .finish-create {
        display: flex;
        justify-content: center;
        gap: 100px;
    }
}

.remove-people, .leave-from-community {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 44%;
    border: 2px solid gray;
    border-radius: 25px;
    background: white;
    z-index: 5;

    &__title {
        font-weight: bold;
    }

    .friend {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .actions {
        display: flex;
        gap: 20px;
        margin: 10px;
    }

    svg:hover {
        cursor: pointer;
        transform: scale(1.25);
    }
}