.discussion {
    &__title .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            cursor: pointer;
        }

        svg:hover {
            transform: scale(1.2);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 5px 0;

        li {
            cursor: pointer;
            font-weight: bold;
            max-width: 130px;
            padding: 5px;
            overflow-x: hidden;
        }

        li:hover {
            border: 1px solid gray;
            border-radius: 10px;
        }
    }

    &__selected-discussion, &__create {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 15px;
        right: 25%;
        top: 5%;
        padding: 15px;
        box-shadow: 3px 3px 3px 3px gray;
        border-radius: 20px;
        width: 800px;
        max-height: 90%;
        z-index: 10;
        background: white;
        overflow-y: auto;

        .title {
            display: flex;
            justify-content: center;
        }

        .actions {
            display: flex;
            justify-content: center;
            gap: 50px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    &__selected-discussion {
        .tool {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            svg {
                cursor: pointer;
            }

            svg:hover {
                transform: scale(1.2);
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 10px;
            word-wrap: anywhere;
            max-height: 500px;

            .select-add-new-discussion-comment {
                display: flex;
                justify-content: end;

                .action, .action_active {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    padding: 5px;
                    box-shadow: 3px 3px 3px 3px gray;
                    border-radius: 10px;
                    width: 150px;
                    cursor: pointer;

                    &_active {
                        box-shadow: 3px 3px 3px 3px green;
                    }
                }
            }
        }

        .edit, .information {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .add-new-discussion-comment {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            &__title {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                margin: 5px -15px;
            }

            &__content {
                display: flex;
                align-items: center;
                gap: 20px;

                .actions {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;
                }
            }
        }

        .discussion-comments {
            display: flex;
            flex-direction: column;
            margin: 0;

            .card {
                width: 475px;
                margin: 5px 0 5px 75px;
            }

            &__title.list-group-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            &__menu {
                svg {
                    cursor: pointer;
                }

                svg:hover {
                    transform: scale(1.1);
                }
            }

            &__content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                overflow-x: hidden;

                .card-text {
                    max-width: 90%;
                    font-size: 13px;
                }

                .actions {
                    display: flex;
                    margin: 5px 0;
                }

                svg {
                    cursor: pointer;
                }

                svg:hover {
                    transform: scale(1.1);
                }

                button {
                    margin: 0 10px;
                    font-size: 12px;
                }
            }
        }
    }
}
