.selected-community {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__content {
        width: 100%;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                display: flex;
                justify-content: start;
                align-items: center;

                &__name {
                    margin: 10px 25px;
                    padding: 10px 20px;
                    box-shadow: 3px 3px 3px 3px gray;
                    border-radius: 20px;
                }

                &__name:hover {
                    cursor: default;
                    box-shadow: 3px 3px 3px 3px green;
                }

                &__policy {
                    opacity: 0.6;
                    cursor: default;
                }

                svg:hover {
                    cursor: pointer;
                    transform: scale(1.25);
                }
            }

            .leave {
                margin: 0 50px;
            }
        }

        .description {
            display: flex;
            flex-direction: column;

            &__title {
                display: flex;
                align-items: center;
                margin: 10px 0;
                cursor: default;

                svg {
                    margin: 0 15px;
                    cursor: pointer;
                }

                svg:hover {
                    transform: scale(1.1);
                }
            }

            &__content {
                padding: 15px;
                border: 2px solid gray;
                border-radius: 20px;
                width: 70%;
                margin: 0 25px;
            }
        }
    }

    &__actions {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0px;
        width: 275px;
        gap: 15px;

        .members {
            &__title {
                display: flex;
                flex-direction: column;
                justify-content: start;

                .tool {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 0 10px;

                    .remove_active {
                        color: saddlebrown;
                    }
                }

                .actions {
                    display: flex;
                    flex-direction: row;
                }

                .notification {
                    font-size: 12px;
                    text-align: center;
                }

                svg {
                    margin: 0 10px;
                    cursor: pointer;
                }

                svg:hover {
                    transform: scale(1.2);
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
            }

            .add-people-to-community {
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                right: 35%;
                bottom: 20%;
                padding: 10px;
                width: 500px;
                min-height: 400px;
                box-shadow: 5px 5px 5px 5px gray;
                background: white;

                .item-result {
                    display: flex;
                    gap: 10px;
                }
            }

            .member {
                display: flex;

                &__username {
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    align-items: center;
                    font-weight: bold;
                    cursor: default;

                    svg {
                        padding: 5px;
                        border-radius: 25px;
                    }

                    svg:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                        background: green;
                        color: white;
                    }
                }

                svg {
                    margin: 10px 20px;
                }

                svg:hover {
                    cursor: pointer;
                }
            }

            .special-user__another {
                display: flex;
                align-items: center;
                gap: 10px;

                svg {
                    cursor: pointer;
                }
            }
        }
    }

    .community-user-information {
        position: fixed;
        right: 40%;
    }
}
