.my-environment {
    display: flex;
    flex-direction: column;

    &__menu {
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0;

            button {
                width: 200px;
                margin: 5px;
            }
        }
    }
}
